@import 'variables.scss';

.landing {
  width: 100%;
  height: calc(100vh - 60px);
  background-position: 55% 25%;
  font-size: 16px;
  @include nunito-sans(700);
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  transition: background-image 0.5s ease-in-out;

  &__description {
    margin-top: 2.4rem;
    font-size: 1rem;
  }

  &__title {
    display: flex;
    flex-flow: column wrap;
    @include nunito-sans(900);
    font-size: 3rem;
    margin-top: 1rem;

    &--span:last-child {
      color: $button-color;
    }
  }

  .landing__button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button__container {
    color: #696461;
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      background-color: #ffcc00;
      color: #000;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #ffcc00
      }
    }
  }

  .first__text, .second {
    color: $button-color;
  }
}
